[run]
parallel = True
include = src/*

[report]
show_missing = True
skip_covered = True
fail_under = 87

exclude_lines =
    # the pragma to disable coverage
    pragma: no cover
    # don't complain if tests don't hit unimplemented methods/modes
    raise NotImplementedError
    assert_never()
    # don't check on executable components of importable modules
    if __name__ == .__main__.:
    # don't check coverage on type checking conditionals
    if t.TYPE_CHECKING:
    # skip overloads
    @t.overload
