[flake8]  # black and isort compatible rules
exclude = .git,.tox,__pycache__dist,.venv*,build
max-line-length = 88
extend-ignore = W503,W504,E203

[flake8:local-plugins]
extension =
    CLI = globus_cli_flake8:Plugin
paths = ./src/globus_cli/
