ci:
  autoupdate_schedule: "monthly"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v6.0.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.3
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
    - id: pyupgrade
      args: ["--py39-plus"]
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.1.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==24.12.12'
        - 'flake8-comprehensions==3.16.0'
        - 'flake8-typing-as-t==1.0.0'
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
    - id: isort
- repo: https://github.com/sirosen/slyp
  rev: 0.8.2
  hooks:
    - id: slyp
- repo: https://github.com/sirosen/texthooks
  rev: 0.7.1
  hooks:
    - id: alphabetize-codeowners
- repo: https://github.com/pypa/dependency-groups
  rev: 1.3.1
  hooks:
    - id: lint-dependency-groups
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
- repo: local
  hooks:
    - id: fix-changelog
      name: "Fix changelog"
      entry: ./changelog.d/post-fix-changelog.py
      language: python
      files: ^changelog\.adoc$
    - id: reject-paginator-table-usage
      name: "Require use of 'Paginator.wrap()' not 'client.paginated.foo'"
      types: [python]
      language: pygrep
      # look for either
      #     x = client.paginated.foo(...)
      # or
      #     x = (
      #         client
      #         .paginated
      #         .foo(...)
      #     )
      entry: '(\.paginated\.)|(^\s+\.paginated$)'
